<!DOCTYPE html>
<html>
<head>
  <title>DeviceStory</title>
  <%= stylesheet_link_tag    "device_story/application", media: "all" %>
  <%= javascript_include_tag "device_story/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
