<div class="row">
  <section class="span6 offset3">
    <h2>
      Profile
    </h2>
    <ul>
      <dt>Name</dt>
      <dd><%= @user.name %></dd>
    </ul>
    <dl class="well">
      <dt>Your API Key</dt>
      <dd><%= @user.authentication_token %></dd>
    </dl>
  </section>
</div>