<ul class="unstyled nav" id="progress" data-status="<%= @bgeigie_import.status -%>">
      <li class="nav-header">
        Progress
      </li>
      <li>
        Process file
        <%- if @bgeigie_import.status_details[:process_file].present? -%>
          <i class="icon-ok pull-right"></i>
        <%- else -%>
          <span class="pull-right">&hellip;</span>
        <%- end -%>
      </li>
      <li>
        Import bGeigie logs
        <%- if @bgeigie_import.bgeigie_logs.any? -%>
          (<%= @bgeigie_import.bgeigie_logs.count -%> found)
        <%- else -%>
          (none found)
        <%- end -%>
        <%- if @bgeigie_import.status_details[:import_bgeigie_logs].present? -%>
          <i class="icon-ok pull-right"></i>
        <%- else -%>
          <span class="pull-right">&hellip;</span>
        <%- end -%>
      </li>
      <li>
        Compute latitudes &amp; longitudes
        <%- if @bgeigie_import.status_details[:compute_latlng].present? -%>
          <i class="icon-ok pull-right"></i>
        <%- else -%>
          <span class="pull-right">&hellip;</span>
        <%- end -%>
      </li>
      <li>
        Approved by moderator
        <%- if @bgeigie_import.approved? -%>
          <i class="icon-ok pull-right"></i>
        <%- else -%>
          <span class="pull-right">&hellip;</span>
        <%- end -%>
      </li>
      <li>
        Added to Safecast database
        <%- if @bgeigie_import.status_details[:measurements_added].present? -%>
          <i class="icon-ok pull-right"></i>
        <%- else -%>
          <span class="pull-right">&hellip;</span>
        <%- end -%>
      </li>
      <li>
        Map created
        <%- if @bgeigie_import.status_details[:create_map].present? -%>
          <i class="icon-ok pull-right"></i>
        <%- else -%>
          <span class="pull-right">&hellip;</span>
        <%- end -%>
      </li>
    </ul>