<div class="row">
  <section class="span6 offset3">
    <h2>bGeigie Import</h2>

    <dl>
      <dt>Original file</dt>
      <dd><%= link_to "Download", @bgeigie_import.source.url %></dd>
      
      <dt>Status</dt>
      <dd><%= @bgeigie_import.status %></dd>
    </dl>
  </section>
</div>