.bundle
vendor/bundle/
.DS_Store
db/*.sqlite3
log/*
tmp/
.sass-cache/
*.swp
*.swo
*.save
public/assets/*
public/uploads/*
public/Chang/*
public/root
public/system/*
bgeigie_logs/*
log/localeapp.yml
.idea
.localeapp.localeapp
.env
.envrc
.direnv
.byebug_history

.elasticbeanstalk/config.yml
.elasticbeanstalk/app_versions/
.elasticbeanstalk/saved_configs/
