.bundle
vendor/bundle/
.DS_Store
db/*.sqlite3
log/*
tmp/
.sass-cache/
*.swp
*.swo
public/uploads/*
public/system/*
bgeigie_logs/*
log/localeapp.yml
.idea
.powrc
zeus.json
custom_plan.rb
.localeapp.localeapp
.env

.ebextensions/stunnel.config

.elasticbeanstalk/*
!.elasticbeanstalk/config.global.yml
