@import 'bootstrap.css';

.app-view
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 40px;
	bottom: 0px;
	min-height:600px;
	min-width:640px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	overflow: hidden;	
	background-color:#333;	
	background-image:url('../settings-bg.jpg');
	background-repeat:repeat;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.app-view .loading-window
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color:#fff;
	z-index:1000;
	box-shadow:inset 0px 0px 100px 0px rgba(0,0,0,0.3);
	background-image:url('../safecast-logo.png');
	background-repeat:no-repeat;
	background-position:center center;
	
}

.app-view .settings-toggle
{
	position:absolute;
	left:15px;
	top:15px;
	width:35px;
	height:35px;
	z-index:999;
	
	background-image:url('../settings-icon.png');
	background-repeat:no-repeat;
	opacity:.6;
	cursor:pointer;
}

.app-view .settings-toggle:hover
{
	opacity:1;
}

.app-view .zoom-buttons
{
	position:absolute;
	left:65px;
	top:15px;
	height:35px;
	z-index:999;
	cursor:pointer;
}

.app-view .zoom-buttons .zoom-out
{
	float:left;
	width:35px;
	height:34px;
	background-image:url('../zoom-out.png');
	background-repeat:no-repeat;
	opacity:.6;	
}

.app-view .info-pane .legend
{
	position:absolute;
	right:15px;
	top:13px;
	width:127px;
	height:22px;
	background-image:url('../legend-temoporary.png');
	background-repeat:no-repeat;
	z-index:1000;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}

.app-view .zoom-buttons .zoom-out:hover
{
	opacity:1;	
}

.app-view .zoom-buttons .zoom-in
{
	float:right;
	width:36px;
	height:34px;
	background-image:url('../zoom-in.png');
	background-repeat:no-repeat;
	opacity:.6;
	
}

.app-view .zoom-buttons .zoom-in:hover
{
	opacity:1;	
}

.app-view .settings-view
{	
	position: absolute;
	left: 0px;
	top: 0px; 
	bottom: 0px;
	width:220px;
}

.app-view .settings-view .controls
{	
	position: absolute;
	left: 0px;
	top:65px; 
	bottom: 0px;
}

.app-view .settings-view .search
{	
	position: absolute;
	top: 12px;
	left: 20px; 
	right: 10px;
	padding: 7px;
	width:150px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	color:#000;
	font-size: 14px;
	border: 1px solid #cbd0d7;
	border-right: 1px line #eee;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
	box-shadow:inset 1px 1px 1px 0px rgba(100,100,100,0.3);
	resize: none;
	
	background-image:url('../search-icon.png');
	background-repeat:no-repeat;
	background-position:10px 7px;
	padding-left:30px;
	background-color:#eee;
}

.app-view .settings-view .controls .divider-line
{
	display:none;
	position: absolute;
	top: 67px;
	right:0px;
	left: 5px;
	height:1px;
	background-color:#999;
	box-shadow:0px -1px 0px 0px rgba(0,0,0,1);
	
	opacity:.15;
}

.app-view .settings-view .search:focus
{
	background-color:#fff;	
	outline: none;
	border: 1px solid #5eb6e4;
	box-shadow: 0 0 10px #5eb6e4;
	box-shadow: 0 0 10px #5eb6e4;
}

.app-view .settings-view .controls .control-title
{
	height:15px;
	text-align:center;
	font-weight:bold;
	color:#161616;
	text-shadow: #434343 0px 1px 0px;
	width:190px;
}


.app-view .settings-view .controls .control-container .control-title.safecast
{
	position: absolute;
	top: -30px;
	left:0px;
	width:190px;
	text-align:center;
}

.app-view .settings-view .controls .control-container
{	
	position: absolute;
	left: 20px; 
	right: 10px;
	height:163px;
	width:190px;
	background: rgba(0,0,0,.08);
	
	box-shadow:inset 0px 0px 4px 0px rgba(0,0,0,.3);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.app-view .settings-view .controls .control-container.safecast
{	
	position: absolute;
	top: 75px;
}

.app-view .settings-view .controls .logo
{	
	display:none;
	position: absolute;
	top: 20px;
	left: 55px; 
	height:80px;
	width:80px;
	background-image:url('../safecast-logo.png');
	background-repeat:no-repeat;
}

.toggle.safecast
{
	position:absolute;
	top:120px;
	width:150px;
	border-top:1px solid #333;
}

.toggle.safecast.active
{	
	background-image:url('../toggle-on.png');
	background-repeat:no-repeat;
	background-position:15px 11px;
	color:#fff;
	
}

.toggle.safecast:hover
{
	color:#fff;
}

.toggle.static
{
	position:absolute;
	top:160px;
	width:150px;
	border-top:1px solid #333;
}

.toggle.static.active
{	
	background-image:url('../toggle-on.png');
	background-repeat:no-repeat;
	background-position:15px 11px;
	color:#fff;
	
}

.toggle.static:hover
{
	color:#fff;
}



.app-view .settings-view .controls .toggle-container .control-title.external
{
	position: absolute;
	top: -30px;
	width:190px;
	
}

.app-view .settings-view .controls .toggle-container
{
	position: absolute;
	top: 290px;
	left: 20px; 
	right:10px;
	height:40px;
	width:190px;
	
	box-shadow:inset 0px 0px 4px 0px rgba(0,0,0,.3);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background: rgba(0,0,0,.08);
}


.app-view .settings-view .controls .toggle-container.census
{	
	position: absolute;
	top: 290px;
}

.toggle
{	
	position:absolute;
	
	padding-top:12px;
	padding-left:55px;
	font-size:11pt;
	color:#666;
	height:22px;
	
	background-image:url('../toggle-off.png');
	background-repeat:no-repeat;
	background-position:15px 11px;
	cursor:pointer;
}

.app-view .settings-view .controls .toggle-container .toggle:hover
{	
	color:#ddd;
}

.app-view .settings-view .controls .toggle-container .color-picker
{
	display:none;
	position:absolute;
	top:0px;
	left:0px;
}
.app-view .settings-view .controls .toggle-container .miniColors-trigger
{
	position:absolute;
	margin-top:10px;
	margin-left:155px;
}

.app-view .settings-view .controls .toggle-container .toggle.active
{	
	background-image:url('../toggle-on.png');
	background-repeat:no-repeat;
	background-position:15px 11px;
	color:#fff;
}

.app-view .settings-view .theme
{
	position:absolute;
	bottom:50px;
	left:35px;
}

.app-view .settings-view .theme .control-title
{
	position:absolute;
	bottom:15px;
	left:-15px;
	height:15px;
	text-align:center;
	font-weight:bold;
	color:#161616;
	text-shadow: #434343 0px 1px 0px;
	width:190px;
}

.app-view .settings-view .theme .theme-toggle
{
	position:absolute;
	height:37px;
	width:37px;
	cursor:pointer;
}

.app-view .settings-view .theme .theme-toggle.dark-on
{
	position:absolute;
	width:43px;
	background-image:url('../theme-dark-on.png');
	background-repeat:no-repeat;
}

.app-view .settings-view .theme .theme-toggle.dark-off
{
	position:absolute;
	width:43px;
	background-image:url('../theme-dark-off.png');
	background-repeat:no-repeat;
}

.app-view .settings-view .theme .theme-toggle.light-on
{
	position:absolute;
	left:43px;
	width:40px;
	background-image:url('../theme-light-on.png');
	background-repeat:no-repeat;
}

.app-view .settings-view .theme .theme-toggle.light-off
{
	position:absolute;
	left:43px;
	width:40px;
	background-image:url('../theme-light-off.png');
	background-repeat:no-repeat;
}

.app-view .settings-view .theme .theme-toggle.standard-on
{
	position:absolute;
	left:82px;
	width:74px;
	background-image:url('../theme-standard-on.png');
	background-repeat:no-repeat;
}

.app-view .settings-view .theme .theme-toggle.standard-off
{
	position:absolute;
	left:82px;
	width:74px;
	background-image:url('../theme-standard-off.png');
	background-repeat:no-repeat;
}

/* Map View */

.app-view .map-container
{
	position: absolute;
	top:0px;
	bottom: 0px;
	left: -15px; /* width of settings-view */
	right: 0px;
}

.app-view .map-container .title-bar
{
	display:none;
	position:absolute;
	left:10px;
	right:0px;
	height:50px;
	background-color:black;
	z-index:995;
	opacity:.3;
}

.app-view .map-container .map-left-edge
{
	position: absolute;
	top:0px;
	bottom: 0px;
	left: 0px; /* width of settings-view */
	width:20px;
	z-index:200;	
}

.app-view .map-container .map-left-edge .top
{
	position: absolute;
	top:0;
	left:0;
	right:0;
	height:20px;
	background-image:url('../left-edge-top.png');
	background-repeat:no-repeat;
}

.app-view .map-container .map-left-edge .mid
{
	position: absolute;
	top:20px;
	bottom:20px;
	width:20px;	
	background-image:url('../left-edge-mid.png');
	background-repeat:repeat;
}

.app-view .map-container .map-left-edge .bottom
{
	position: absolute;
	bottom:0px;
	width:20px;
	height:20px;
	z-index:200;
	background-image:url('../left-edge-bottom.png');
	background-repeat:no-repeat;
}

.app-view .map-container .map-view
{
	position: absolute;
	top:0px;
	bottom: 0px;
	left: 0px; /* width of left-edge */
	right: 0px;
	z-index:100;
}

.app-view .standard-marker
{
	background: rgba(212,13,32,.5);
	width:15px;
	height:15px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
}

/* Info Pane */

.app-view .info-hit-area
{
	position:absolute;
	top:13px;
	right:15px;
	width:305px;
	height:320px;
	z-index:999;
}


.app-view .info-pane
{
	position:absolute;
	top:13px;
	right:15px;
	width:305px;
	height:320px;
	z-index:998;
	background-color:rgba(0,0,0,.7);
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
	padding:0px;
	margin:0px;
}

.app-view .info-pane .dre
{
	position:absolute;
	top:17px;
	left:3px;
	right:4px;
	height:50px;
	padding-left:20px;
	color:#666666;
	font-size:18px;
	font-weight:bold;
}

.app-view .info-pane .reading
{
	position:absolute;
	top:50px;
	left:0px;
	right:0px;
	height:75px;
	background-color:rgba(255,255,255,.2);
}

.app-view .info-pane .reading p
{
	position:absolute;
	left:20px;
	top:25px;
	color:#fff;
	font-size:18px;
	font-weight:bold;
}

.app-view .info-pane .reading h1
{
	position:absolute;
	top:20px;
	right:20px;
	color:#fff;
	font-size:34px;
	font-weight:bold;
}

.app-view .info-pane .cpm
{
	position:absolute;
	top:127px;
	left:0px;
	right:0px;
	height:75px;
	background-color:rgba(255,255,255,.2);
}

.app-view .info-pane .cpm p
{
	position:absolute;
	left:20px;
	top:15px;
	color:#fff;
	font-size:18px;
	font-weight:bold;
}

.app-view .info-pane .cpm h1
{
	position:absolute;
	top:20px;
	right:20px;
	color:#fff;
	font-size:34px;
	font-weight:bold;
}

.app-view .info-pane .samples
{
	position:absolute;
	top:215px;
	left:0px;
	right:0px;
	border-bottom:1px solid #222;
	height:30px;
	padding-left:20px;
	color:#666666;
	font-size:18px;
	font-weight:bold;
}

.app-view .info-pane .date-range
{
	position:absolute;
	bottom:10px;
	left:3px;
	right:4px;
	height:50px;
	padding-left:20px;
	color:#666666;
	font-size:18px;
	font-weight:bold;
}

/* Social */

.app-view .settings-view .buttons-share
{
	position:absolute;
	left:22px;
	top:60px;
}

.app-view .settings-view .buttons-share button
{
	width:93px;
	height:31px;
	padding-top:4px;
	cursor: pointer; 
	color: #666;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
	background-color: #276ea3;	
	border:none;
}

.app-view .settings-view .buttons-share .btn-facebook
{
	float:left;
	padding-left:27px;
	border-right:1px solid #999;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 7px;
	
	border-top-right-radius: 0px;
	border-top-left-radius: 7px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 7px;
	
	-moz-border-top-right-radius: 0px;
	-moz-border-top-left-radius: 7px;
	-moz-border-bottom-right-radius: 0px;
	-moz-border-bottom-left-radius: 7px;
	
	background-image: url('../share-facebook.png'),  -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#c6c6c6)); /* Saf4+, Chrome */
	background-image: url('../share-facebook.png'),  -webkit-linear-gradient(top, #e0e0e0, #c6c6c6); /* Chrome 10+, Saf5.1+ */
	background-image: url('../share-facebook.png'),  -moz-linear-gradient(top, #e0e0e0, #c6c6c6); /* FF3.6+ */
	background-image: url('../share-facebook.png'),  -ms-linear-gradient(top, #e0e0e0, #c6c6c6); /* IE10 */
	background-image: url('../share-facebook.png'),  -o-linear-gradient(top, #e0e0e0, #c6c6c6); /* Opera 11.10+ */
	background-image: url('../share-facebook.png'),  linear-gradient(top, #e0e0e0, #c6c6c6); /* W3C */
	background-repeat:no-repeat;
	background-position: 5px, 0px;
}

.app-view .settings-view .buttons-share .btn-facebook:hover
{
	color:#333;
}

.app-view .settings-view .buttons-share .btn-twitter
{
	padding-left:23px;
	border-left:1px solid #fff;
	float:right;
	
	-webkit-border-top-right-radius: 7px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 0px;
	
	border-top-right-radius: 7px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 0px;
	
	-moz-border-top-right-radius: 7px;
	-moz-border-top-left-radius: 0px;
	-moz-border-bottom-right-radius: 7px;
	-moz-border-bottom-left-radius: 0px;
		
	background-image: url('../share-twitter.png'),  -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#c6c6c6)); /* Saf4+, Chrome */
	background-image: url('../share-twitter.png'),  -webkit-linear-gradient(top, #e0e0e0, #c6c6c6); /* Chrome 10+, Saf5.1+ */
	background-image: url('../share-twitter.png'),  -moz-linear-gradient(top, #e0e0e0, #c6c6c6); /* FF3.6+ */
	background-image: url('../share-twitter.png'),  -ms-linear-gradient(top, #e0e0e0, #c6c6c6); /* IE10 */
	background-image: url('../share-twitter.png'),  -o-linear-gradient(top, #e0e0e0, #c6c6c6); /* Opera 11.10+ */
	background-image: url('../share-twitter.png'),  linear-gradient(top, #e0e0e0, #c6c6c6); /* W3C */
	background-repeat:no-repeat;
	background-position: 5px, 0px;
}

.app-view .settings-view .buttons-share .btn-twitter:hover
{
	color:#333;
}
