commands:
  create_post_dir:
    command: "mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post"
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_workers.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      
      source /opt/elasticbeanstalk/support/envvars

      if /opt/elasticbeanstalk/bin/get-config meta -k sqsdconfig 2>/dev/null; then
        if status delayed-job | grep -q running; then
          logger -t delayed-job 'Restarting worker delayed-job after deploy.'
          restart delayed-job
        else
          logger -t delayed-job 'Starting worker delayed-job after deploy.'
          start delayed-job
        fi
      else
        logger -t 'delayed-job' 'This node does not appear to be configured to run the delayed-job worker. Not starting after deploy.'
      fi
