commands:
  upgrade_postgres:
    command: |
      /usr/bin/yum -y remove 'postgres*'
      /usr/bin/yum -y install \
        'https://yum.postgresql.org/11/redhat/rhel-6-x86_64/postgresql11-libs-11.6-1PGDG.rhel6.x86_64.rpm' \
        'https://yum.postgresql.org/11/redhat/rhel-6-x86_64/postgresql11-11.6-1PGDG.rhel6.x86_64.rpm' \
        'https://yum.postgresql.org/11/redhat/rhel-6-x86_64/postgresql11-devel-11.6-1PGDG.rhel6.x86_64.rpm'
      /bin/ln -sf /usr/pgsql-11/bin/pg_config /usr/bin/pg_config

files:
  "/etc/profile.d/z_psql.sh":
    content: |
      export PGHOST="${DATABASE_HOST}"
      export PGPORT=5432
      export PGDATABASE=safecast
      export PGUSER=safecast
      export PGOPTIONS=--search_path=public,postgis

      cat > ~/.pgpass <<EOF
      ${DATABASE_HOST}:5432:safecast:safecast:${DATABASE_PASSWORD}
      EOF
      chmod 600 ~/.pgpass
