option_settings:
  - namespace: aws:elb:policies
    option_name: ConnectionSettingIdleTimeout
    value: 600

commands:
  match_nginx_timeout_to_elb_timeout:
    command: |
      # If web tier (no sqs config) set nginx timeout to ELB timeout
      if ! /opt/elasticbeanstalk/bin/get-config meta -k sqsdconfig 2>/dev/null; then
        echo "proxy_read_timeout 600s;" > /etc/nginx/conf.d/web.conf
        service nginx restart
      fi
