option_settings:
  - namespace: aws:elb:policies
    option_name: ConnectionSettingIdleTimeout
    value: 600

files:
  "/etc/nginx/conf.d/proxy.conf":
    content: |
      client_max_body_size 10M;
  "/etc/nginx/conf.d/blockips.conf":
    content: |
      deny 104.160.37.205;
      deny 13.56.21.188;
      deny 185.28.249.190;
      deny 47.240.44.214;
      deny 5.101.0.209;
      deny 88.230.96.236;
  "/etc/nginx/conf.d/realip.conf":
    content: |
      real_ip_header X-Forwarded-For;
      real_ip_recursive on;
      set_real_ip_from 172.31.0.0/16;

commands:
  match_nginx_timeout_to_elb_timeout:
    command: |
      # If web tier (no sqs config) set nginx timeout to ELB timeout
      if ! /opt/elasticbeanstalk/bin/get-config meta -k sqsdconfig 2>/dev/null; then
        echo "proxy_read_timeout 600s;" > /etc/nginx/conf.d/web.conf
        service nginx restart
      fi
