option_settings:
  - namespace: aws:elb:policies
    option_name: ConnectionSettingIdleTimeout
    value: 600

commands:
  set_web_tier_timeout:
    command: |
      if ! /opt/elasticbeanstalk/bin/get-config meta -k sqsdconfig 2>/dev/null; then
        echo "proxy_read_timeout 600s;" > /etc/nginx/conf.d/web.conf
        service nginx restart
      fi
