packages:
  yum:
    jq: []

commands:
  match_nginx_timeout_to_sqs_timeout:
    command: |
      # If worker tier set nginx timeout to SQS visibility timeout
      VISIBILITY_TIMEOUT=$(/opt/elasticbeanstalk/bin/get-config meta -k sqsdconfig | jq -r .visibility_timeout)
      if [ -n "$VISIBILITY_TIMEOUT" ]; then
        echo "proxy_read_timeout ${VISIBILITY_TIMEOUT}s;" > /etc/nginx/conf.d/worker.conf
        systemctl restart nginx
      fi
  ensure_webapp_home_for_cron_execution:
    command: |
      mkdir -p ~webapp
