packages:
  yum:
    jq: []

commands:
  00_parameters_cache:
    command: |
      /opt/aws/bin/cfn-get-metadata --region `{"Ref": "AWS::Region"}` --stack `{"Ref": "AWS::StackName"}` \
        --resource AWSEBBeanstalkMetadata --key AWS::ElasticBeanstalk::Ext |
        jq .Parameters > /etc/elasticbeanstalk/parameters-cache
  01_match_nginx_timeout_to_sqs_timeout:
    command: |
      VISIBILITY_TIMEOUT=$(jq -r .AWSEBVisibilityTimeout /etc/elasticbeanstalk/parameters-cache)
      if [[ "${VISIBILITY_TIMEOUT}" != "null" ]]; then
        echo "proxy_read_timeout ${VISIBILITY_TIMEOUT}s;" > /etc/nginx/conf.d/worker.conf
        service nginx restart
      fi
  02_ensure_webapp_home:
    command: |
      mkdir -p ~webapp
