%section.brief
  %header
    %h2 Contribute your Map
  %form#submission{:action => "/my/maps", :autocomplete => "off"}
    %fieldset.log-file
      .field.file
        %label{:for => "file"} Log File
        %input#file{:name => "file", :type => "file"}

    %fieldset
      %p.button
        %input{:type => "submit", :value => "Submit"}
  #uploader