<p>There is a Safecast import awaiting moderator approval.</p>

<p>Click <%= link_to "here", bgeigie_import_url(@import,
                                                :host => 'api.safecast.org',
                                                :protocol => 'https') %> to view it.</p>
