<%- if user_signed_in? && !@bgeigie_import.approved? && current_user.moderator? -%>
  <%= form_for @bgeigie_import, :url => [:approve, :my, :bgeigie_import] do |f| -%>
    <fieldset>
      <p class="button">
        <%= f.submit t("approve") -%>
      </p>
    </fieldset>
  <%- end -%>
<%- end -%>
