<% content_for :additional_javascripts do %>
  <%= javascript_include_tag 'bgeigie_viewer' %>
<% end %>

<div id="map_canvas"
     data-bv-worker-min="<%= javascript_path('bgeigie_viewer_worker') %>"
     data-url="<%= @bgeigie_import.source.url %>"
     data-id="<%= @bgeigie_import.id %>">
</div>
