<section class="brief">
  <header>
    <h2>Contribute your Measurement</h2>
  </header>
  <form action="/device" autocomplete="off">
    <fieldset class="level-reading">
      <div class="field reading">
        <label for='level'>Radiation Level</label>
        <input class="digit" type="text" name='level' id='level' value='000'>
        <ul class="units">
          <li class="cpm selected">Clicks per Minute</li>
          <li class="microsievert">MicroSieverts per Hour</li>
        </ul>
      </div>
      <div class="field location">
        <label for='location'>Location</label>
        <input type='text' name='location' id='location'>
        <ul class="units">
          <li class="gps selected">Location</li>
        </ul>
        <div class="map">
          <img src="<%= image_path 'mock-map.png' %>">
        </div>
      </div>
    </fieldset>
    <fieldset>
      <p class="button">
        <input type="submit" value="Submit">
      </p>
    </fieldset>
  </form>
</section>