<section class="brief">
  <header>
    <h2>Your Measurement</h2>
  </header>
  {{^id}}
    <p>Saving...</p>
  {{/id}}
  <p>Submitted level is {{value}}{{unit}}</p>
  <p>Location is  {{location}}</p>
  <p>Latitude is {{latitude}}</p>
  <p>Longitude is {{longitude}}</p>
</section>