<section class="brief">
  <header>
    <h2>Your Measurement</h2>
  </header>
  {{#isNew}}
    <p>Loading...</p>
  {{/isNew}}
  {{^isNew}}
    <p>Submitted level is {{value}}</p>
  {{/isNew}}
</section>