%h2 My maps

- if @maps.empty?
  %p No maps found.
- else
  %ul
    - @maps.each do |map|
      %li
        #{link_to(map.name, map)}
        #{map.created_at}
        #{map.measurements.count} measurements