%section.brief
  %header
    %h2 More reading details
  %form{:action => "/device"}
    %fieldset.reading-details
      %div.field
        %label{:for => 'height'} Height
        %input.digit{:type => 'text', :name => 'height', :id => 'height', :placeholder => '1m'}
      %div.field
        %label{:for => 'surface'} Surface type
        %input{:type => 'text', :name => 'surface', :id => 'surface', :placeholder => 'Soil'}
      %div.field
        %label{:for => 'radiation'} Radiation type
        %input{:type => 'text', :name => 'radiation', :id => 'radiation', :placeholder => 'Air'}
    %fieldset
      %p.button
        %input{:type => 'submit'}