%section.brief
  %header
    %h2 What kind of device?
  %form{:action => "/details"}
    %fieldset.device-basics
      %div.field
        %label{:for => 'make'} Make
        %input{:type => 'text', :name => 'make', :id => 'make', :placeholder => 'Safecast'}
      %div.field
        %label{:for => 'model'} Model
        %input{:type => 'text', :name => 'model', :id => 'model'}
    %fieldset
      %p.button
        %input{:type => 'submit'}