%section.brief
  %header
    %h2 Contribute your Reading
  %form{:autocomplete => "off"}
    %fieldset.level-reading
      %div.field.reading
        %label{:for => 'level'} Radiation Level
        %input.digit{:type => 'text', :name => 'level', :id => 'level', :value => '000'}
        %ul.units
          %li.cpm.selected Clicks per Minute
          %li.microsievert MicroSieverts per Hour
      %div.field.location
        %label{:for => 'location'} Location
        %input{:type => 'text', :name => 'location', :id => 'location'}
        %ul.units
          %li.gps.selected Clicks per Minute
        %div.map= image_tag 'mock-map.png'
    %fieldset
      %p.button
        %input{:type => 'submit'}