%section.brief
  %header
    %h2 Submit your Reading
  %form
    %fieldset
      %div.field
        %label{:for => 'level'} Radiation Level
        %input{:type => 'text', :name => 'level', :id => 'level'}
      %div.field
        %label{:for => 'location'} Location
        %input{:type => 'text', :name => 'location', :id => 'location'}
    %fieldset
      %p.button
        %input{:type => 'submit'}