%h2 Submit your Reading

%form
  %fieldset
    %div.field
      %label{:for => 'name'}
      %input{:type => 'text', :name => 'name', :id => 'name'}
  %fieldset
    %p.button
      %input{:type => 'submit'}