<%= form_tag(device_stories_path, remote: true, method: :get, enforce_utf8: false,
             class: 'navbar-form navbar-left', data: { type: 'script' }) do %>
  <%= hidden_field_tag :fullscr, params[:fullscr] %>
  <%= hidden_field_tag :per_page, params[:per_page] %>
  <div class="input-group">
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control"%>
  </div>
<% end %>
