%section.brief
  %header
    %h2 Contribute your Measurement
  %form#submission{:action => "/my/measurements", :autocomplete => "off"}
    %fieldset.level-reading
      .field.reading
        %label{:for => "level"} Radiation Level
        %input#level.digit{:name => "level", :type => "text", :value => "{{value}}"}
          %ul.units
            %li.unit.cpm.selected{"data-value" => "cpm"}
              Clicks per Minute
            %li.unit.microsievert{"data-value" => "microsievert"}
              MicroSieverts per Hour
      .field.location
        %label{:for => "location"} Location
        %input#location{:name => "location", :type => "text", :value => "{{location_name}}"}
          %ul.units
            %li.gps.selected Location
          #map_canvas.map
    %fieldset
      %p.button
        %input{:type => "submit", :value => "Submit"}