%section.brief
  %header
    %h2 Your Measurement
  \ {{^id}}
  %p Saving...
  \ {{/id}}
  %p Submitted level is {{value}}{{unit}}
  %p Location is {{location_name}}
  %p Latitude is {{latitude}}
  %p Longitude is {{longitude}}