body {
  min-width: 1140px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1140px;
  .column_1,
  .column_2,
  .column_3,
  .column_4,
  .column_5,
  .column_6,
  .column_7,
  .column_8,
  .column_9,
  .column_10,
  .column_11,
  .column_12 {
  	display:inline;
  	float: left;
  	position: relative;
  	margin-left: 16px;
  	margin-right: 16px;
    &.first {
      margin-left: 0;
    }
    &.last {
      margin-right: 0;
    }
  }
  .column_1 {
  	width:63px;
  }
  .column_2 {
  	width:158px;
  }
  .column_3 {
  	width:253px;
  }
  .column_4 {
  	width:348px;
  }
  .column_5 {
  	width:443px;
  }
  .column_6 {
  	width:538px;
  }
  .column_7 {
  	width:633px;
  }
  .column_8 {
  	width:728px;
  }
  .column_9 {
  	width:823px;
  }
  .column_10 {
  	width:918px;
  }
  .column_11 {
  	width:1013px;
  }
  .column_12 {
  	width:1108px;
  }
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}