@import 'reset.css.scss';
@import 'grid.css.scss';

// colors

$ocean: #6ba5bd;
$black: #202020;
$subtle: lighten(desaturate($ocean,25%),10%);
$sans: proxima-nova,sans-serif;

// form

@mixin ocean-button {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid lighten($ocean,10%);
  background: $ocean;
  color: darken($ocean,35%);
  text-shadow: 0 1px 0 lighten($ocean,15%);
  font-size: 13px;
  font-weight: bold;
  padding: 5px 8px 4px;
  -webkit-transition: all .125s ease-in-out;
  -moz-transition: all 0.125s ease-in-out;
  &:hover {
    cursor: pointer;
    background: lighten($ocean,5%);
    border: 1px solid lighten($ocean,12.5%);
  }
  &:active {
    cursor: pointer;
    color: darken($ocean,50%);
    text-shadow: 0 1px 0 $ocean;
    background: darken($ocean,20%);
    border: 1px solid darken($ocean,10%);
  }
}

@mixin positive-field {
  border: 2px solid #050505;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: lighten(desaturate($ocean,10%),25%) url(image-path('gloss.png')) 0px -36px repeat-x;
  font-size: 18px;
  padding: 10px 5px 2px;
  -webkit-transition: all .125s ease-in-out;
  -moz-transition: all 0.125s ease-in-out;
  &:focus {
    background-color: lighten(desaturate($ocean,10%),35%);
    border-color: darken($ocean,35%);
  }
}

body {
  background: #fff;
  color: $black;
  font-size: 13px;
  font-family: $sans;
}

a, a:link, a:visited {
  color: $ocean;
  text-decoration: none;
  &:hover {
    color: darken($ocean,10%);
  }
}

input, textarea, select {
  font-family: $sans;
}

::-moz-selection { background: lighten($ocean,10%); }
::selection { background: lighten($ocean,10%); }

// heading styles

h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

// header

.container > header {
  padding: 15px 0;
  overflow: hidden;
  clear: both;
  h1 {
    float: left;
    a, a:link, a:visited {
      display: block;
      text-indent: -9999px;
      overflow: hidden;
      height: 20px;
      width: 162px;
      background-color: transparent;
      background-position: left top;
      background-repeat: no-repeat;
      background-image: url(image-path('h1.png'));
    }
  }
  nav {
    float: right;
    ul {
      margin: 0 -8px 0 8px;
      list-style: none;
      li {
        float: left;
        a, a:link, a:visited {
          display: block;
          padding: 2px 8px;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }
    }
  }
}

// footer

.container > footer {
  padding: 15px 0;
  p {
    font-size: 11px;
    line-height: 14px;
    color: $subtle;
  }
}

// form styles

section.brief {
  width: 360px;
  margin: 15px auto;
  header {
    overflow: hidden;
    clear: both;
    h2, h3 {
      padding: 0 0 .5em;
    }
  }
  form {
    overflow: hidden;
    clear: both;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 2px solid #000;
    background: $black url(image-path('noise.gif')) left top repeat;
    color: #fff;
    padding: 10px 15px;
    
    fieldset {
      padding: 5px 0;
      input[type='text'], input[type='password'], input[type='email'] {
        display: block;
        margin: 0;
        padding: 12px 5px 3px;
        @include positive-field;
      }
    }

    .button {
      float: right;
      background: #050505;
      border: 1px solid #000;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      input[type='submit'], button {
        @include ocean-button;
      }
    }
  }
}

// level reading

section.brief {
  form {
    fieldset.level-reading {
      div.field {
        overflow: hidden;
        clear: both;
        label {
          display: none;
        }
        ul.units {
          float: right;
          padding: 0;
          width: 48px;
          & > li {
            overflow: hidden;
            clear: both;
            margin: 0 auto;
            width: 36px;
            height: 36px;
            text-indent: -9999px;
            overflow: hidden;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: -72px 0px;
            &.cpm { background-image: url(image-path('cpm.png')); }
            &.microsievert { background-image: url(image-path('microsievert.png')); }
            &.gps { background-image: url(image-path('gps.png')); }
            &:hover { cursor: pointer; background-position: -108px 0px; }
            &.selected { background-position: -36px 0px; }
          }
        }
        &.reading {
          margin: 0 -15px;
          padding: 0 15px 15px;
          background: transparent url(image-path('ridge.png')) bottom left repeat-x;
          
          input[type='text'], input[type='password'], input[type='email'] {
            font-size: 72px;
            text-shadow: 0 0 3px #fff;
            text-align: center;
            width: 274px;
            margin: 0;
            padding: 10px 0 2px;
            float: left;
            background-position: 0px -8px;
          }
        }
        &.location {
          margin: 0 -15px;
          padding: 15px;
          background: transparent url(image-path('ridge.png')) bottom left repeat-x;
          input[type='text'], input[type='password'], input[type='email'] {
            width: 264px;
            float: left;
            clear: left;
          }
          ul.units { clear: right; }
          div.map {
            overflow: hidden;
            clear: both;
            display: none;
            margin: 48px 0 0;
            border: 2px solid #000;
            overflow: hidden;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            img {
              display: block;
              width: 322px;
              border-radius: 5px;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
            }
          }
          &.focus {
            div.map {
              display: block;
            }
          }
        }
      }
    }
  }
}