@import 'reset.css.scss';
@import 'grid.css.scss';

// colors

$ocean: #6ba5bd;
$subtle: lighten(desaturate($ocean,25%),10%);

body {
  background: #fff;
  color: #000;
  font-size: 13px;
  font-family: proxima-nova,sans-serif;
}

a, a:link, a:visited {
  color: $ocean;
  text-decoration: none;
  &:hover {
    color: darken($ocean,10%);
  }
}

// header

.container > header {
  padding: 15px 0;
  overflow: hidden;
  clear: both;
  h1 {
    float: left;
    a, a:link, a:visited {
      display: block;
      text-indent: -9999px;
      overflow: hidden;
      height: 20px;
      width: 162px;
      background-color: transparent;
      background-position: left top;
      background-repeat: no-repeat;
      background-image: url(image-path('h1.png'));
    }
  }
  nav {
    float: right;
    ul {
      margin: 0 -8px 0 8px;
      list-style: none;
      li {
        float: left;
        a, a:link, a:visited {
          display: block;
          padding: 2px 8px;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }
    }
  }
}

// footer

.container > footer {
  padding: 15px 0;
  p {
    font-size: 11px;
    line-height: 14px;
    color: $subtle;
  }
}