// colors

$ocean: #6ba5bd;
$black: #202020;
$subtle: lighten(desaturate($ocean,25%),10%);
$sans: proxima-nova,sans-serif;

// form

@mixin ocean-button {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid lighten($ocean,10%);
  background: $ocean;
  color: darken($ocean,35%);
  text-shadow: 0 1px 0 lighten($ocean,15%);
  font-size: 13px;
  font-weight: bold;
  padding: 5px 8px 4px;
  -webkit-transition: all .125s ease-in-out;
  -moz-transition: all 0.125s ease-in-out;
  &:hover {
    cursor: pointer;
    background: lighten($ocean,5%);
    border: 1px solid lighten($ocean,12.5%);
  }
  &:active {
    cursor: pointer;
    color: darken($ocean,50%);
    text-shadow: 0 1px 0 $ocean;
    background: darken($ocean,20%);
    border: 1px solid darken($ocean,10%);
  }
}

@mixin positive-field {
  border: 2px solid #050505;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: lighten(desaturate($ocean,5%),25%) url(image-path('gloss.png')) 0px -36px repeat-x;
  font-size: 18px;
  text-shadow: 0 0 2px #fff;
  padding: 10px 5px 2px;
  -webkit-transition: all .125s ease-in-out;
  -moz-transition: all 0.125s ease-in-out;
  &:focus {
    background-color: lighten(desaturate($ocean,5%),35%);
    border-color: darken($ocean,35%);
  }
}

body {
  background: #fff;
  color: $black;
  font-size: 13px;
  font-family: $sans;
}

a, a:link, a:visited {
  color: $ocean;
  text-decoration: none;
  &:hover {
    color: darken($ocean,10%);
  }
}

input, textarea, select {
  font-family: $sans;
}

::-moz-selection { background: lighten($ocean,10%); }
::selection { background: lighten($ocean,10%); }

// heading styles

h2 {
  font-size: 21px;
  line-height: 24px;
  font-weight: 400;
}

// header

.container > header {
  padding: 15px 0;
  overflow: hidden;
  clear: both;
  h1 {
    float: left;
    a, a:link, a:visited {
      display: block;
      text-indent: -9999px;
      overflow: hidden;
      height: 20px;
      width: 162px;
      background-color: transparent;
      background-position: left top;
      background-repeat: no-repeat;
      background-image: url(image-path('h1.png'));
    }
  }
  nav {
    float: right;
    ul {
      margin: 0 -8px 0 8px;
      list-style: none;
      li {
        float: left;
        a, a:link, a:visited {
          display: block;
          padding: 2px 8px;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }
    }
  }
}

// footer

.container > footer {
  padding: 15px 0;
  p {
    font-size: 11px;
    line-height: 14px;
    color: $subtle;
  }
}

// form styles

section {
  width: 360px;
  margin: 15px auto;
  header {
    overflow: hidden;
    clear: both;
    h2, h3 {
      float: left;
      padding: 0 0 1em;
    }
    nav {
      float: right;
      a, a:link, a:visited {
        display: block;
        background-color: lighten(desaturate($ocean,10%),15%);
        color: #fff;
        font-size: 12px;
        margin: 2px 0 0;
        padding: 2px 5px 5px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        &:hover { background-color: lighten(desaturate($ocean,10%),10%); }
      }
    }
  }
  form {

    fieldset {
      padding: 5px 0;
      .field {
        overflow: hidden;
        clear: both;
        padding: 10px 15px;
        margin: 0 -15px;
        background: transparent url(image-path('ridge.png')) bottom left repeat-x;
      }
      
      label {
        overflow: hidden;
        clear: both;
        display: block;
        padding: 0 3px 5px;
      }
      
      input[type='text'], input[type='password'], input[type='email'] {
        display: block;
        overflow: hidden;
        clear: both;
        margin: 0 auto;
        padding: 12px 5px 3px;
        @include positive-field;
        width: 312px;
      }
    }
    
    p.note {
      float: left;
      font-size: 13px;
      padding: 10px 0 0;
    }

    .button {
      float: right;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      input[type='submit'], button {
        @include ocean-button;
      }
    }
  }
}

// sign in / sign up

section.brief {
  form {
    fieldset.register {
      div.field {
        label {
          float: left;
          clear: left;
          width: 36px;
          height: 36px;
          text-indent: -9999px;
          overflow: hidden;
          padding: 0;
          background-color: transparent;
          background-position: right top;
          background-repeat: no-repeat;
          &.email { background-image: url(image-path('email.png')); }
          &.password { background-image: url(image-path('password.png')); }
        }
        input[type='text'], input[type='password'], input[type='email'] {
          width: 264px;
          float: right;
          clear: right;
        }
        &.focus { label { background-position: left top; } }
      }
    }
  }
}

// level reading

section.brief {
  form {
    fieldset.level-reading {
      div.field {
        label { display: none; }
        ul.units {
          float: right;
          padding: 0;
          width: 48px;
          & > li {
            overflow: hidden;
            clear: both;
            margin: 0 auto;
            width: 36px;
            height: 36px;
            text-indent: -9999px;
            overflow: hidden;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: -72px 0px;
            &.cpm { background-image: url(image-path('cpm.png')); }
            &.microsievert { background-image: url(image-path('microsievert.png')); }
            &.gps { background-image: url(image-path('gps.png')); }
            &:hover { cursor: pointer; background-position: -108px 0px; }
            &.selected { background-position: -36px 0px; }
          }
        }
        &.reading {
          background: transparent url(image-path('ridge.png')) bottom left repeat-x;
          
          input[type='text'], input[type='password'], input[type='email'] {
            font-size: 72px;
            text-shadow: 0 0 3px #fff;
            text-align: center;
            width: 274px;
            margin: 0;
            padding: 10px 0 2px;
            float: left;
            background-position: 0px -8px;
          }
        }
        &.location {
          background: transparent url(image-path('ridge.png')) bottom left repeat-x;
          input[type='text'], input[type='password'], input[type='email'] {
            width: 264px;
            float: left;
            clear: left;
          }
          ul.units { clear: right; }
          div.map {
            overflow: hidden;
            clear: both;
            display: none;
            margin: 48px 0 0;
            border: 2px solid #000;
            overflow: hidden;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            width: 326px;
            height: 200px;
            img {
              display: block;
              width: 322px;
              border-radius: 5px;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
            }
          }
        }
      }
    }
  }
}

// device details

section.brief {
  form {
    fieldset.device-basics {
      div.field {
        label {
          float: left;
          clear: left;
          width: 60px;
        }
        input[type='text'], input[type='password'], input[type='email'] {
          float: right;
          clear: right;
          width: 240px;
        }
      }
    }
  }
}

// manifest

form.manifest {
  fieldset {
    background: none;
    header {
      padding: 10px 0 5px
    }
    div.field {
      background: none;
      overflow: hidden;
      clear: both;
      padding: 5px 15px;
      label {
        float: left;
        clear: left;
        width: 60px;
        color: #999
      }
      input[type='text'], input[type='password'], input[type='email'] {
        float: right;
        clear: right;
        width: 240px;
        background: transparent;
        border: none;
        padding: 0;
        color: #eee;
        text-shadow: 0 1px 0 #000;
      }
    }
  }
}

// the multipurpose hidden class
.hidden { display: none; }