- query_params = request.query_parameters
- if !query_params or query_params.empty?
  None
- else
  %table
    - request.query_parameters.each do |key, value|
      %tr
        %td= key
        %td= value


