%ul.nav.nav-tabs.nav-stacked
  %li.disabled
    %a bGeigie Imports for moderators
  %li
    = link_to 'Not processed', bgeigie_imports_not_processed_index_path
  %li
    = link_to 'Not approved', bgeigie_imports_not_approved_index_path
  %li
    = link_to 'Waiting for...', bgeigie_imports_waiting_for_index_path
