<ul class="nav nav-tabs">
  <li
    <%- if controller_name == 'measurements' && action_name == 'new' -%>
      class="active"
    <%- end -%>
  >
    <%= link_to [:new, :my, :measurement] do %>
      <%= t('Submit a single measurement') -%>
    <%- end -%>
  </li>
  <li
    <%- if controller_name == 'bgeigie_imports' && action_name == 'new' -%>
      class="active"
    <%- end -%>
  >
    <%= link_to [:new, :my, :bgeigie_import] do %>
      <%= t('Upload a bGeigie log file') -%>
    <%- end -%>
  </li>
</ul>