// colors
$ocean: #6ba5bd;
$black: #202020;
$subtle: lighten(desaturate($ocean,25%),10%);
$sans: proxima-nova,sans-serif;


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 31px;
  height: 18px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

// media queries and navbar responsiveness
@media only screen and (max-width: 1000px) {
  #desktop-navbar {
    display: none;
  }

  #safecast-logo {
    display: none;
  }

  #dashboard {
    margin-top: 50px;
    display: none;
  }

  #spacing {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 1000px) {
  #mobile-navbar {
    display: none;
  }
}

#nostack>li {
  display: inline-block;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
#nostack>li>a {
  padding-right: 7px;
  padding-left: 7px;
}

//used in show wells
.well>dl>dt{
  width: 200px;
  margin-right: 10px;
  border-bottom: #e5e5e5 1px dotted;
}
.well>dl>dd {
  border-bottom: #e5e5e5 1px dotted;
}

//profile modal
ul.profile-tab>li {
  padding: 0px;
  margin-bottom: 5px;
  white-space: normal;
}
ul.profile-tab>li>a {
  margin: 0px;
  display: block;
  width: 100%;
  height: 100%;
}
#edit-user>form>div>div>.form-control, //simple_form -> form > div > div
#change-password>form>div>div>.form-control {
  max-width: 200px;
  margin: auto;
}

//used in btn-group buttons
button.btn-secondary {
  background-color: #f5f5f5;
}
button.btn-secondary>a {
  color: grey;
}

//bgeigie process
#progress>li {
  border-bottom: #e5e5e5 1px dotted;
}

// form
@mixin ocean-button {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid lighten($ocean,10%);
  background: $ocean;
  color: darken($ocean,35%);
  text-shadow: 0 1px 0 lighten($ocean,15%);
  font-size: 13px;
  font-weight: bold;
  padding: 5px 8px 4px;
  -webkit-transition: all .125s ease-in-out;
  -moz-transition: all 0.125s ease-in-out;
  &:hover {
    cursor: pointer;
    background: lighten($ocean,5%);
    border: 1px solid lighten($ocean,12.5%);
  }
  &:active {
    cursor: pointer;
    color: darken($ocean,50%);
    text-shadow: 0 1px 0 $ocean;
    background: darken($ocean,20%);
    border: 1px solid darken($ocean,10%);
  }
}

@mixin positive-field {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: lighten(desaturate($ocean,5%),25%) url(image-path('gloss.png')) 0px -36px repeat-x;
  font-size: 18px;
  text-shadow: 0 0 2px #fff;
  padding: 10px 5px 2px;
  -webkit-transition: all .125s ease-in-out;
  -moz-transition: all 0.125s ease-in-out;
  &:focus {
    background-color: lighten(desaturate($ocean,5%),35%);
    border-color: darken($ocean,35%);
  }
}

body {
  background: #fff;
  color: $black;
  font-size: 13px;
  font-family: $sans;
}

a, a:link, a:visited {
  color: $ocean;
  text-decoration: none;
  &:hover {
    color: darken($ocean,10%);
  }
}

input, textarea, select {
  font-family: $sans;
}

::-moz-selection { background: lighten($ocean,10%); }
::selection { background: lighten($ocean,10%); }

// heading styles

h2 {
  font-size: 21px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 0.5em;
  word-wrap: break-word;
}

// header

.container > header {
  padding: 15px 0;
  clear: both;
  h1 {
    float: left;
    a, a:link, a:visited {
      display: block;
      text-indent: -9999px;
      overflow: hidden;
      height: 20px;
      width: 162px;
      background-color: transparent;
      background-position: left top;
      background-repeat: no-repeat;
      background-image: url(image-path('h1.png'));
      margin-left: 20px;
    }
  }
  nav {
    float: right;
    ul {
      margin: 0 -8px 0 8px;
      list-style: none;
      li {
        float: left;
        height: auto;
        a, a:link, a:visited {
          display: block;
          padding: 2px 8px;
          text-transform: uppercase;
          letter-spacing: 1px;
          //center the caret
          span.caret {
            margin-top:6px;
            margin-left:0px;

          }
        }
      }
    }
    ul.dropdown-menu {
      margin: 0 0 0 0;
      li {
        clear: left;
        width: 100%;
      }
    }
  }
}

// clear the nav so we don't have to use overflow:hidden
// so that the dropdowns display fully.
.container > header:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

// footer

.container > footer {
  padding: 15px 0;
  p {
    font-size: 11px;
    line-height: 14px;
    color: $subtle;
  }
}


// form styles

section {
  header {
    overflow: hidden;
    clear: both;
    h2, h3 {
      float: left;
      padding: 0 0 1em;
    }
    nav {
      float: right;
      a, a:link, a:visited {
        display: block;
        background-color: lighten(desaturate($ocean,10%),15%);
        color: #fff;
        font-size: 12px;
        margin: 2px 0 0;
        padding: 2px 5px 5px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        &:hover { background-color: lighten(desaturate($ocean,10%),10%); }
      }
    }
  }
  form {
    fieldset {
      padding: 5px 0;
      .field {
        overflow: hidden;
        clear: both;
        padding: 10px 15px;
        margin: 0 -15px;
        background: transparent url(image-path('ridge.png')) bottom left repeat-x;
      }

      label {
        overflow: hidden;
        clear: both;
        display: block;
        padding: 0 3px 5px;
      }

      textarea {
        height: 5em;
      }

      legend {
        margin-bottom: 0;
      }
    }

    p.note {
      float: left;
      font-size: 13px;
      padding: 10px 0 0;
    }

    .button {
      float: right;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
    }
  }
}

// sign in / sign up

section.brief {
  form {
    fieldset.register {
      div.field {
        label {
          float: left;
          clear: left;
          width: 36px;
          height: 36px;
          text-indent: -9999px;
          overflow: hidden;
          padding: 0;
          background-color: transparent;
          background-position: right top;
          background-repeat: no-repeat;
          &.email { background-image: url(image-path('email.png')); }
          &.password { background-image: url(image-path('password.png')); }
        }
        input[type='text'], input[type='password'], input[type='email'] {
          width: 264px;
          float: right;
          clear: right;
        }
        &.focus { label { background-position: left top; } }
      }
    }
  }
}

// level reading

form.submission {
  fieldset.level-reading {
    div.control-group {
      ul.units {
        float: right;
        padding: 0;
        width: 48px;
        & > li {
          overflow: hidden;
          clear: both;
          margin: 0 auto;
          width: 36px;
          height: 36px;
          text-indent: -9999px;
          overflow: hidden;
          background-color: transparent;
          background-repeat: no-repeat;
          background-position: -72px 0px;
          &.cpm { background-image: url(image-path('cpm.png')); }
          &.microsievert { background-image: url(image-path('microsievert.png')); }
          &.gps { background-image: url(image-path('gps.png')); }
          &:hover { cursor: pointer; background-position: -108px 0px; }
          &.selected { background-position: -36px 0px; }
        }
      }
      &.reading {

        input[type='text'], input[type='password'], input[type='email'] {
          font-size: 72px;
          text-shadow: 0 0 3px #fff;
          text-align: center;
          width: 274px;
          margin: 0;
          padding: 10px 0 2px;
          float: left;
          background-position: 0px -8px;
          height: 99px;
        }
      }
      &.location {
        background: transparent url(image-path('ridge.png')) bottom left repeat-x;
        input[type='text'], input[type='password'], input[type='email'] {
          width: 264px;
          float: left;
          clear: left;
        }
        ul.units { clear: right; }
      }
    }
  }
}
// device details

section.brief {
  form {
    fieldset.device-basics {
      div.field {
        label {
          float: left;
          clear: left;
          width: 60px;
        }
        input[type='text'], input[type='password'], input[type='email'] {
          float: right;
          clear: right;
          width: 240px;
        }
      }
    }
  }
}


// map

#map-canvas {
  width: 100%;
  height: 450px;
  margin-bottom: 32px;
}

#map-legend {
  width: 90px;
  height: 142px;
  background: url(image-path('scales64_fullcolor_240x854.png')) no-repeat top left;
  background-size: 120px 427px;
  background-position-x: -90px;
  margin-left: 30px;
}

//dashboard
section.dashboard {
  ul li a {
    display: inline;
    text-align: center;
    //height: 150px;
  }
  ul li em {
    text-align: center;
    display: block;
    font-size: 30px;
    text-decoration: none;
    font-style: normal;
  }
}

ul.measurement {
  margin-top: 42px;
  li{
    text-align: center;
    display: inline;
    float: left;
    margin-bottom: 1em;
    width: 400px;
  }
  li{
    color: #999;
    em {
      color: #000;
      font-style: normal;
    }
  }
  li.value {
    float: left;
    width: 400px;
    &.thin {
      width: 300px;
    }
    em {
      font-size: 72px;
      &.block {
        display: block;
        margin-bottom: 20px;
      }
    }
  }
  li.lat-lng {
    text-align: center;
    width: 200px;
    em {
      display: block;
      color: #666;
      font-size: 24px;
    }
  }
}


ul.measurement-list {
  margin-top: 36px;
  li.measurement {
    width: 780px;
  }
  li:hover {
  }
}
ul.measurement-listed {
  border-bottom: 1px dashed #999;
  display: inline-block;
  &:hover{
    background-color: #eee;
  }
  li{
    padding-top: 1em;
    padding-left: 1em;
    text-align: left;
    display: inline;
    float: left;
    margin-bottom: 1em;
  }
  li{
    color: #999;
    em {
      color: #000;
      font-style: normal;
    }
  }
  li.value {
    float: left;
    width: 200px;
    em {
      font-size: 36px;
    }
  }
  li.lat-lng {
    width: 200px;
    em {
      display: block;
      color: #666;
      font-size: 24px;
    }
  }
}

// the multipurpose hidden class
.hidden { display: none; }

.affix {
  position: fixed;
  top: 20px;
  width: 180px;
}

.bootstrap-datetimepicker-widget {
  z-index: 10000;
}

i.muted {
  opacity: 0.5;
}

.faded {
  color: #777;
}

.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: #ecf0f5 !important;
  cursor: hand;
  cursor: pointer;
}

.spacer {
  height: 30px;
}
.notapproved {
  color: #f9a732;
}

.fixdrive {
  color: #f9a732;
}

.email-textarea {
  width: 360px;
  height: 250px;
}

.device-chart {
  height: 300px;
  padding-top: 5px;
}