<pre>GET <%= link_to json_url, url %><div class="pull-right"><%= link_to('JSON',
                                                 json_url,
                                                 :class => 'btn btn-default btn-xs',
                                                                         :data => { :behavior => 'run-api'}) %></div></pre>
