<div class="row">
  <div class="<%= (action_name == 'show' && controller_name == 'bgeigie_imports') ? 'span8' : 'span12' %>">
    <%= api_example url, params.except(:commit).except(:utf8).except(:locale).keep_if { |k, v| v.present? } %>
  </div>
</div>