<div id="datetime-<%= attr_name %>" class="input-append date datetimepicker">
  <%= text_field_tag attr_name, params[attr_name],
        :class => 'span2',
        :data => {
          :format => 'dd/MM/yyyy hh:mm:ss'
        },
        :placeholder => human_label(model_name, attr_name) %>
  <span class="add-on activate-tooltip"
        data-original-title="<%= human_label(model_name, attr_name) %>"
        data-placement="left">
    <i class="icon-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar">
    </i>
  </span>
</div>