<div id="filter-modal" class="modal hide fade" tabindex="-1">
  <%= form_tag params.permit!.except(:commit).except(:utf8),
                 :method => :get,
                 :class => 'form-inline' do |f| %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>
        <%= t(".filter_#{name}") %>
      </h3>
    </div>

    <div class="modal-body">
      <%= form %>
    </div>

    <div class="modal-footer">
      <%= submit_tag t('filter'), :class => 'btn' %>
    </div>
  <%- end -%>
</div>
