<div class="input-group <%- if options[:prepend] -%>input-group<%- end -%>" style="max-width: 300px; margin-bottom: 10px;">
<%- if options[:prepend] -%>
    <span class="input-group-addon">
      <%= options[:prepend] %>
    </span>
  <%- end -%>
  <%= text_field_tag attr_name,
                     params[attr_name],
                     :class => 'form-control',
                     :placeholder => human_label(model_name, attr_name) %>
  <span class="input-group-addon activate-tooltip"
        data-original-title="<%= human_label(model_name, attr_name) %>"
        data-placement="left">
    <%= attr_name %>
  </span>
</div>