<div class="well">
  <%= number_with_delimiter collection.count %> <%= t('.results') %>.
  <%= link_to 'Change Filter', "#filter-modal", :data => {
        :toggle => 'modal'
      }, :class => 'pull-right' %>
</div>
