<!DOCTYPE html>
<html>
  <head>
    <title>Safecast Worldmaps</title>
    <%= javascript_include_tag 'worldmap' %>
  </head>
  <body>
    I am in app/views/layouts/worldmaps.html.erb
    <%= yield %>
  </body>
</html>